{% extends "exodus/base.html" %}

{% block content %}
    <h2>{{ person.primary_name }}</h2>
    <p>{{ person.sex_long }}</p>
    <!-- Image -->
    <p>{{ person.primary_image.media.media_path }}{{ person.primary_image.media.media_file }}</p>

    <h3>Names</h3>
    <ul>
    {% for name in person.name_set_all %}
        <li>{{ name }}</li>
    {% endfor %}
    </ul>

    <h3>Identifiers</h3>
    <ul>
        <li>RIN: {{ person.id }}</li>
        <li>Unique ID: {{ person.unique_id }}</li>
        <li>FamilySearch: {{ person.familysearch_id }}</li>
        <!-- TODO: Ancestry ID -->
    </ul>

    <h3>Events</h3>
    <ul>
    {% for event in person.event_set_all %}
        <li><ul>
            <!-- <li>{{ event.id }}</li> -->
            <li>{{ event.event_type }}</li>
            <li>{{ event.date }}</li>
            <li>{{ event.site_and_place }}</li>
            <li>{{ event.details }}</li>
            <li>Primary: {{ event.is_primary }}</li>
            <li>Proof: {{ event.proof }}</li>
            <li>{{ event.note }}</li>
        </ul></li>
    {% endfor %}
    </ul>
        <li>Last Edited: {{ person.edit_date }}</li>
        <li>Parent: {{ person.parent }}</li>
        <li>Spouse: {{ person.spouse }}</li>
        <li>Color: {{ person.color }}</li>
        <li>Related 1: {{ person.relate_1 }}</li>
        <li>Related 2: {{ person.relate_2 }}</li>
        <li>Flags: {{ person.flags }}</li>
        <li>Living: {{ person.is_living }}</li>
        <li>Private: {{ person.is_private }}</li>
        <li>Proof: {{ person.proof }}</li>
        <li>Bookmark: {{ person.bookmark }}</li>
    </ul>
    <h3> Notes: </h3>
    <p>{{ person.note }}</p>
{% endblock %}
